
/* notes: 


*/


/* ------------------------------------Universal set up */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

img { max-width: 100% }

/* Temp Styles */
/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} */

/* html,
body {
    border: none;
} */

/* h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(78, 175, 199);
} */



/* ----------------------------------- Universal styles & Utility classed-------------- */

/* Optional padding to override default gridlex columns */ 
/* [class*=col] { padding: 0; } */

.text-left      { text-align: left;     }
.centered       { text-align: center;   }
.text-right     { text-align: right;    }

.capped-width { max-width: 1100px; margin: auto;}

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-top     { padding-top: 5%; }
.padded-top-2   {  padding-top: 2% }
.padded-b       { padding-bottom: 5%; }
.padded-l       { padding-left: 5%; }
.padded-r       { padding-right: 5%; }

.padded-bm      { padding-bottom: 2rem; }
.padded-bm-0    {  padding: 5% 5% 0% 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 
.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* ------------------------------------- Typography-styles------- */

body {
    font-family: 'Catamaran', sans-serif;
    color: #2A1A0C;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 1,8rem; }
h4 { font-size: 1.5rem; }

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}
p:last-child {
    margin-bottom: 0;
}

li {
    margin-left: 1rem;
}

h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none; 
}
    
a:hover {
    color: #B21D46;
}

.font-weight-light      { font-weight: 200;     }
.font-weight-normal     { font-weight: normal;  } 
.font-weight-extra-bold { font-weight: 800;     }

.small-text     { font-size: 1.3rem; }
.medium-text    { 
    font-size: 2.2rem; 
    line-height: 1.1;
}
.big-text       { font-size: 5rem;   }

.light-text     { color: white;         }
.dark-text      { color: #2A1A0C        }
.caps           { text-transform: uppercase; }
.featured-text  { color: #B21D46        }
.white-text     { color: white;         }

.subtle {
    color: #E9E7E7;
    font-size: 0.7rem;
}

.subtitle { 
    font-size: 1.2rem; 
    color: white; 
}

/* ---------Testimonla quote icocs */
.quote-icon { 
    font-size: 6rem;
    display: inline-block;
    color: white;
    line-height: 1;
}

.quote-icon-about { 
    font-size: 6rem;
    display: inline-block;
    color: #B21D46;
    line-height: 1;
}

/* ---------- Fontawesome Icon Grid----- */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/* ------------------------------------ Header & Footer Styles-------- */
header {
    padding: 1% 5%;
}

header h1 {
    /* font-size: 1.5rem; */
    line-height: 1;
}

header h3 {
    font-size: 11vw;;
    line-height: 1;
}

footer {
    background-color: #2A1A0C;
}

.down-arrow {
    display: inline-block;
    /* margin-top: 1rem; */
    font-size: 6vw;
    text-decoration: none;
    border: none;
    color: white;
}

.down-arrow-sm {
    display: inline-block;
    margin-top: 0.7rem;
    font-size: 3rem;
    text-decoration: none;
    border: none;
    color: white;
}

.md-a-dark {
    color: #2A1A0C;
    font-weight: bold; 
}

.md-a-light {
    color: white;
    font-weight: bold; 
}

.logo h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

.bg-footer {
    background-color: #2A1A0C;
}

/* ------------------------------------------ Nav Styles */

nav a {
    color: white;
    text-decoration: none;
  /*   border: 1px solid grey; */
    display: inline-block;
    padding: 0.8rem;
    border: none;
  }

/* -------------------------------------- Image Styles -----------*/

.bg-dark      {  background-color: #2A1A0C; }
.bg-light     {  background-color: #A7BEC0  }
.bg-banner    {  background-color: #B21D46;  }


/*------------------------------- Background images */
.header-home-pg {
    background-image: url('/images/house-twilight.png');
    background-color: #A7BEC0;
    background-size: cover;
    background-position: 50% 35%;
    text-align: center;
}

.header-main-pg {
    background-image: url('/images/header-banner.png');
    background-color: #A7BEC0;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

.bg-image {
    background-color: #2A1A0C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    /* min-height: 3.5rem; */
}

.banner-image1 {
    background-image: url('Images/husky-sled.png');
    background-color: #2A1A0C;
    background-size: cover;
    background-position: 50% 60%;
}

.banner-image2 {
    background-image: url('');
    background-color: #A7BEC0;
    background-size: cover;
    background-position: 50% 60%; 
}

.banner-image3 {
    background-image: url('');
    background-color: #A7BEC0;
    background-size: cover;
    background-position: 50% 60%; 
}

/* Aspect Ratio */
.portrait-tall  { padding-bottom: 175%;   }
.portrait       { padding-bottom: 125%;   }
.square         { padding-bottom: 100%;   }
.landscape      { padding-bottom: 66%;    }
.landscape-wide { padding-bottom: 56%;    }
.portrait-134   { padding-bottom: 134.5%; }

/* ------------ Min Height-------  */
.tall-50    {  min-height: 50vh;    }
.tall-60    {  min-height: 60vh;    }
.tall-70    {  min-height: 70vh;    }
.tall-80    {  min-height: 80vh;    }
.tall-90    {  min-height: 90vh;    }
.tall-100   {  min-height: 100vh;   }

/* --------------------------------------- Card/Blog images */

.bg-image1  { background-image: url('Images/reindeer.png')}
.bg-image2  { background-image: url('Images/header-bg.png');     }
.bg-image3  { background-image: url('Images/insidehouse.png');   }
.bg-image4  { 
    background-image: url('Images/christmas-market-1.png'); 
    background-position: 50% 70%;
}

.bg-image5  { background-image: url('Images/xmas-dessert.png');         }
.bg-image6  { background-image: url('Images/christmas-drink.png'); }

/* Image styles */
.bg-image7  { 
    background-image: url('Images/group-shot.jpg');
    background-position: 40% 70%;
}
.bg-image8  { 
    background-image: url('Images/workstation.png');
    background-position: 50% 85%; 
}
.bg-image9  { background-image: url(''); }
.bg-image10 { background-image: url(''); }
.bg-image11 { background-image: url(''); }

.bg-image-us { 
    background-image: url('Images/couple.png');
    background-position: 50% 30%;
    min-height: 60vh;
    padding: 1rem;
    border-radius: 50%;
}


/* ------------------------------------------- Product Card Styles */
  
  .card { 
    padding: 1rem;
    border: 1px solid white;
  }
  
  .card h3 {
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
  }
  
  .price {
    font-size: 3.5rem; 
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .card p,
  .card li {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 300;
  }

/* --------------------------------------- Buttons & Forms */

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.7rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #2A1A0C;
    outline: none;
}

.button {
    padding: 0.5rem 2rem;
    background-color: #2A1A0C;
    color: inherit;
    appearance: none;
    border: 2px solid #2A1A0C;
    }

button:hover {
    color:#2A1A0C;
    background-color: white;
    border: 3px solid;
}


/* ------------------- media queries----------- */
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

  body { border: 5px solid pink;}

  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-tall-60 { min-height: 60vh; }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    html {
        font-size: 14px;
    }

  body { border: 5px solid orange;}

  .logo h2 { font-size: 1.8rem; }

  h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    }

  .show-sm { display: block; }
  .hide-sm { display: none;  }

  .flex-flip-sm { flex-direction: column-reverse; }

 .md-stack {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 -.5rem;
  }

	 
  .sm-text-center   { text-align: center; }
  .sm-text-left     { text-align: left;   }
  .sm-text-right    { text-align: right;  }

  .sm-padded        { padding: 5%;        }
  .sm-padded-1      { padding: 1rem;      }
  .sm-padded-05     { padding: 0.5rem;    }
  .sm-padded-0      { padding: 0;        }

  .sm-padded-t-0    { padding-top: 0;     } 
  .sm-padded-b-0    { padding-bottom: 0;  }
  .sm-padded-l-0    { padding-left: 0;    }
  .sm-padded-r-0    { padding-right: 0;   }
  
  .sm-margin-t-0    { margin-top: 0;      }
  .sm-margin-b-0    { margin-bottom: 0;   }
  .sm-margin-l-0    { margin-left: 0;     }
  .sm-margin-r-0    { margin-right: 0;    }

  /* ------------ Min Height-------  */
.sm-tall-50    {  min-height: 50vh;    }
.sm-tall-60    {  min-height: 60vh;    }
.sm-tall-70    {  min-height: 70vh;    }
.sm-tall-80    {  min-height: 80vh;    }
.sm-tall-90    {  min-height: 90vh;    }
.sm-tall-100   {  min-height: 100vh;   }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

  body { border: 5px solid blue; }

  .logo h2 { font-size: 1.5rem; }

  h1 {
    font-size: 1.4rem;
    line-height: 1;
    }

  .show-xs { display: block; }
  .hide-xs { display: none;  }

  .featured-text-xs {
    color:#2A1A0C;
  }

}